# Лабораторная работа 2. 

+ Выполнил:
__Маковеев Никита Владимирович__\
+ Файл с данными - train.csv

In [1]:
import pandas as pd 
import numpy as np 
import os
import math

### Статистика таблицы.

In [2]:

df = pd.read_csv('train.csv')
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [4]:
n = len(df['PassengerId'].unique())

### 1. Какое количество мужчин и женщин ехало на параходе? Приведите два числа через пробел.

In [5]:
a = df.groupby("Sex")['PassengerId'].count()
mens = a['male']
womens = a['female']
# df[df['Sex'] == 'male']
print(f'Мужчин - {mens}',f'Женщин - {womens}')

Мужчин - 577 Женщин - 314

### 2. Подсчитайте сколько пассажиров загрузилось на борт в различных портах? Приведите три числа через пробел.

In [6]:
a = df.groupby("Embarked")['PassengerId'].count()

c = a['C']
q = a["Q"]
s = a['S']
print(c,q,s)

168 77 644

### 3. Посчитайте долю (процент) погибших на параходе (число и процент)?

In [7]:
a = df.groupby("Survived")['PassengerId'].count()
died = a[0]
percent = died/n
print(f'Погибло {died}, процент - {round(percent, 3)*100}%')

Погибло 549, процент - 61.6%

### 4. Какие доли составляли пассажиры первого, второго, третьего класса?

In [8]:
a = df.groupby("Pclass")['PassengerId'].count()
class_1 = round(a[1]/n, 3)
class_2= round(a[2]/n, 3)
class_3 = round(a[3]/n, 3)
print(f'Первый класс {class_1}, Второй класс {class_2}, Третий класс {class_3},')

Первый класс 0.242, Второй класс 0.207, Третий класс 0.551,

### 5. Вычислите коэффициент корреляции Пирсона между количеством супругов (SibSp) и количеством детей (Parch).

In [9]:
X = df['SibSp']
Y = df['Parch']

correlation = X.corr(Y, method="pearson")
correlation

0.41483769862015646

### 6. Выясните есть ли корреляция (вычислите коэффициент корреляции Пирсона) между:
+ возрастом и параметром Survived;
+ полом человека и параметром Survived;
+ классом, в котором пассажир ехал, и параметром Survived.

In [10]:
# Корреляция между возрастом и параметром Survived

X = df['Age']
Y = df['Survived']

correlation = X.corr(Y, method="pearson")
correlation

-0.07722109457217756

In [11]:
# Корреляция между полом человека и параметром Survived

X = df['Sex'].map({'male': 1, 'female':0})
Y = df['Survived']

correlation = X.corr(Y, method="pearson")
correlation

-0.5433513806577546

In [12]:
# Корреляция между классом, в котором пассажир ехал, и параметром Survived.

X = df['Pclass']
Y = df['Survived']

correlation = X.corr(Y, method="pearson")
correlation

-0.3384810359610148

### 7. Посчитайте средний возраст пассажиров и медиану, минимальный и максимальный возраст.

In [13]:
a = df['Age']
print(f'Средний возраст: {a.mean():.3f}')
print(f'Медианный возраст: {a.median()}')
print(f'Минимальный возраст: {a.min()}')
print(f'Максимальный возраст: {a.max()}')

Средний возраст: 29.699
Медианный возраст: 28.0
Минимальный возраст: 0.42
Максимальный возраст: 80.0

### 8. Посчитайте среднюю цену за билет и медиану, минимальная и максимальные цены.

In [14]:
a = df['Fare']
print(f'Средняя цена за билет: {a.mean():.5f}')
print(f'Медианняя цена за билет: {a.median()}')
print(f'Минимальня цена за билет: {a.min()}')
print(f'Максимальная цена за билет: {a.max()}')

Средняя цена за билет: 32.20421
Медианняя цена за билет: 14.4542
Минимальня цена за билет: 0.0
Максимальная цена за билет: 512.3292

### 9. Какое самое популярное мужское имя на корабле?

In [15]:

reg = r'\. \(*(\w*)\)*' # всегда полезно поупражняться в регулярных выражениях
mens = df[df['Sex']=='male']
# womens = df[df['Sex']=='female']
a = pd.DataFrame()
a['Name'] = mens['Name'].str.extract(reg)

Popular_Name, count = a.groupby('Name')['Name'].value_counts().idxmax(), a.groupby('Name')['Name'].value_counts().max()
print(Popular_Name, count)

William 35

### 10. Какие самые популярные мужское и женские имена людей, старше 15 лет на корабле?

In [57]:
older_15 = df[df["Age"]>15]
reg = r'\. (\w+)(?![\w, ]*\()|\((\w+)'

mens = older_15[older_15['Sex']=='male']
womens = older_15[older_15['Sex']=='female']
import re
women_names = pd.DataFrame()
a = womens['Name'].str.extract(reg)
women_names['Name'] = a[0].fillna(a[1])
popular_women_name, count_women_name = women_names.groupby('Name')['Name'].value_counts().idxmax(), women_names.groupby('Name')['Name'].value_counts().max()

men_names = pd.DataFrame()
a = mens['Name'].str.extract(reg)
men_names['Name'] = a[0].fillna(a[1])
popular_men_name, count_men_name = men_names.groupby('Name')['Name'].value_counts().idxmax(), men_names.groupby('Name')['Name'].value_counts().max()

print(f'Самое популярное мужское имя у людей старше 15 лет - {popular_men_name} оно встречается {count_men_name} раз')
print(f'Самое популярное женское имя у людей старше 15 лет - {popular_women_name} оно встречается {count_women_name} раз')

Самое популярное мужское имя у людей старше 15 лет - William оно встречается 27 раз
Самое популярное женское имя у людей старше 15 лет - Anna оно встречается 12 раз